[package]
name = "nat-common"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
toml.workspace = true
env_logger.workspace = true
chrono.workspace = true
clap.workspace = true
