name: auto_release

on:
  push:
    branches: [ "release", "release/*" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # - name: zig_build_glibc
      #   run: |
      #     version=0.15.2
      #     name=zig-x86_64-linux-${version}
      #     curl -SsLf https://ziglang.org/download/${version}/${name}.tar.xz -o- | tar -xJf - -C /tmp 
      #     export PATH="/tmp/${name}:$PATH"
      #     zig version

      #     cargo install cargo-zigbuild
      #     cargo zigbuild --release --target x86_64-unknown-linux-gnu.2.17  
      #     ls target/x86_64-unknown-linux-gnu/release
      - name: build_zigbuild
        id: build_zigbuild
        uses: arloor/rust_musl_action@latest
        with:
          use_zigbuild: true
      - name: gihub release
        if: github.event_name == 'push' && (github.ref == 'refs/heads/release' || startsWith(github.ref, 'refs/heads/release/'))
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          version=$(grep -E ^version Cargo.toml|awk -F "[\"]" '{print $2}')
          version="v${version}"
          if $(gh release delete ${version} -y --cleanup-tag); 
            then echo "delete old release"; 
            else echo "no old release";
          fi
          git config --local user.email "admin@arloor.com"
          git config --local user.name "arloor"
          gh release create ${version} ${{ steps.build_zigbuild.outputs.release_dir }}/nat ${{ steps.build_zigbuild.outputs.release_dir }}/nat-console setup.sh setup-console.sh setup-console-assets.sh -n "$version" -t "$version" --latest